<header class="main-header">
  <div class="logo">
    <a href="{{ site.baseurl }}/">Data-Viz Examples</a>
  </div>

  <input type="checkbox" class="menu-btn" id="menu-btn">
  <label for="menu-btn" class="menu-icon">
    <span class="menu-icon__line"></span>
  </label>

  <ul class="nav-links">

  {% for item in site.data.navigation %}

    {% if item.type != "dropdown" %}
      <li class="nav-link">
        <a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
      </li>
    {% endif %}

    {% if item.name == "MAPS" %}
      <li class="nav-link">
        <a href="{{ site.baseurl }}/pages/maps/Clusters.html">Clusters</a>
      </li>
    {% endif %}
    
  {% endfor %}

  </ul>

</header>

<script>
  // Function for dropdown menu interaction
  // When the user clicks on the button, toggle between hiding and showing the dropdown content
  function dropdown_menu(dropdown_id) {
    document.getElementById(dropdown_id).classList.toggle("show");

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
      if (!e.target.matches(".dropbtn")) {
        var myDropdown = document.getElementById(dropdown_id);
        if (myDropdown.classList.contains("show")) {
          myDropdown.classList.remove("show");
        }
      }
    };
  }
</script>