<nav class="flex-header fixed-top">
  {% for item in site.data.navigation %}

    {% if item.type != "dropdown" %}
      <a href="{{ site.baseurl }}{{ item.link }}" class="tablink{% if page.url == item.link %} active{% endif %}">{{ item.name }}</a>
    {% endif %}

    {% if item.name == "MAPS" %}
      <div class="dropdown">
        <button class="dropbtn{% if page.url == item.link %} active{% endif %}">{{ item.name }}</button>
        <div class="dropdown-content">
          {% for link in item.links %}
            <a href="{{ site.baseurl }}/pages/maps/{{ link }}.html">{{ link }}</a>
          {% endfor %}
        </div>
      </div> 
    {% endif %}
    

  {% endfor %}
</nav>