<nav class="flex-header fixed-top">
  {% for item in site.data.navigation %}

    {% if item.type != "dropdown" %}
      <a href="{{ site.baseurl }}{{ item.link }}" class="tablink{% if page.url == item.link %} active{% endif %}">{{ item.name }}</a>
    {% endif %}

    {% if item.name == "MAPS" %}
      <div class="dropdown">
        <button class="dropbtn{% if page.url == item.link %} active{% endif %}" onclick="dropdown_menu('map_dropdown')">{{ item.name }}</button>
        <div class="dropdown-content" id="map_dropdown">
          {% for link in item.links %}
            <a href="{{ site.baseurl }}/pages/maps/{{ link }}.html">{{ link }}</a>
          {% endfor %}
        </div>
      </div> 
    {% endif %}
    
  {% endfor %}
</nav>

<script>
  // When the user clicks on the button, toggle between hiding and showing the dropdown content
  function dropdown_menu(dropdown_id) {
    document.getElementById(dropdown_id).classList.toggle("show");

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
      if (!e.target.matches(".dropbtn")) {
        var myDropdown = document.getElementById(dropdown_id);
        if (myDropdown.classList.contains("show")) {
          myDropdown.classList.remove("show");
        }
      }
    };
  }
</script>