.flex-column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

.flex-container {
  // background: #333333; // For testing only
  // flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  // padding: 16px;
  // padding: 0.5em 16px;
  // height: 100%; // add height:100% for full page content
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-right: auto;
  // margin-left: auto;
  flex-grow: 1; // ensures that the container will take up the full height of the parent container
  overflow-y: auto; // adds scroll to this container
}

.flex-container-row {
  // background: #444444; // For testing only
  // height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; // along CROSS axis, aligns each ITEM to each other
  align-content: flex-start; // aligns entire group within container
}

.flex-item {
  // background: #555555; // For testing only
  position: relative; // Fixed "glitch" when hovering over ECharts pie charts
  padding: 2.5rem 0.5rem; // 40px 5px; / 2.5rem 0.5rem; / 1.25rem 0.5rem;
  // color: var(--text-color);
  font-size: 2em;
  // turn "children" into containers
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex-basis: 25%; // starting point of item's width
}