@import "variables";

$tab-width: 132px;
$tab-font-size: 1rem;
$tab-font-padding-size: 18px;
$tab-height-padding-size: 1rem;
$tab-width-padding-size: 2rem;


.flex-header {
  // display: flex;
  display: inline-flex;
  margin-bottom: auto;
  flex-shrink: 0;
  // justify-content: space-evenly;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background-color: $bg-border-color;
  // height: 56px;
  // line-height: 1.5;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

// Tabs
.tablink { // Default
  flex: 0 1 auto; // $tab-width / 10%
  background-color: $bg-border-color;
  color: $text-color;
  border: none;
  outline: none;
  cursor: pointer;
  padding: $tab-height-padding-size $tab-width-padding-size;
  // text-overflow: clip;
  font-size: $tab-font-size;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.tablink.active, .dropbtn.active {
  background-color: $accent-color !important;
}

.tablink:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: $accent-color2;
}

// Dropdowns
.dropdown {
  // float: left;
  // overflow: hidden;
  flex: 0 1 auto; // $tab-width / 10%
}

.dropdown .dropbtn {
  // font: 100% $font-stack;
  line-height: 1.5;
  // min-width: $tab-width;
  text-align: center;
  text-decoration: none;
}
.dropbtn {
  cursor: pointer;
  font-size: inherit;  
  border: none;
  outline: none;
  background: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  // height: var(--navbar-size);
  padding: var(--nav-link-height-padding-size) var(--nav-link-width-padding-size);
  margin: 0;
  // border-radius: inherit;
}
.dropdown-content {
  display: none;
  position: absolute; // absolute, fixed, relative(works for simple navbar, but not main-header)
  background: var(--navbar-bg-color);
  min-width: var(--nav-link-width);
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // z-index: 1000;
}

.dropdown-content a {
  float: none;
  display: block;
  // background: var(--navbar-alt-bg-color);
  // color: var(--navbar-text-color);
  padding: var(--nav-link-height-padding-size) var(--nav-sub-link-width-padding-size);
  // text-decoration: none;
  // outline: none;
  // margin: 1rem;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--navbar-accent-color) !important;
  color: var(--navbar-text-color);
}






.main-header {
  position: fixed;
  // Added next 3 lines to fix placement of navbar
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-size);
  width: 100vw;
  padding: var(--navbar-padding);
  background: var(--navbar-bg-color); //rgba($color: #ffffff, $alpha: 0.2);
  color: var(--navbar-text-color);
  z-index: 10000;
  transition: background 0.4s ease-out;

  // navbar buttons
  .active {
    background-color: #4CAF50;
    color: var(--navbar-text-color);
  }

  a {
    text-decoration: none;
    outline: none;
    color: inherit;
    font-size: 1.25rem;
    // text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      a {
        // Use next three lines for links to take up full height of navbar
        display: flex;
        align-items: center;
        height: var(--navbar-size);

        // margin: 0.2rem;
        // padding: 1rem 1.25rem;
        padding: var(--nav-link-height-padding-size) var(--nav-link-width-padding-size);
        // border-radius: var(--nav-link-border-radius);
        // color: var(--text-primary);
        // text-decoration: none;
        // outline: none;
        // justify-content: center;
        font-size: var(--navbar-font-size);

        // float: left;
        color: var(--navbar-text-color);
        text-align: center;
        text-decoration: none;

      }
      // a:hover {
      //   // background: rgba($color: #ffffff, $alpha: 0.2);
      //   background: var(--navbar-accent-color);
      // }


      // Dropdowns
      .dropbtn {
        height: var(--navbar-size);
        // border-radius: var(--nav-link-border-radius);
      }
      .dropdown-content {
        // padding: 1rem 0;
      }
      .dropdown-content a {
        // border-radius: 0;
        // padding: var(--nav-link-height-padding-size);
        // margin: 1rem;
        // text-align: center;
        height: var(--navbar-sub-link-size);
      }
    }


    .nav-link a:hover, .nav-link .dropbtn:hover, .dropbtn:focus {
      background: var(--navbar-alt-accent-color);
    }
    

  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: var(--navbar-text-color);
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background .8s ease;

      &::before, &::after {
        content: '';
        position: absolute;
        background: var(--navbar-text-color);
        height: 100%;
        width: 100%;
        border-radius: 4px;
        transition: background .8s ease;
      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }

  .menu-btn {
    // Push off of screen instead of disabling to allow screen readers to access
    position: absolute;
    top: -100px;

    &:focus ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  // Change navbar when scrolling down
  /*
  &.scrolled {
    // height: 3rem;
    background: rgba($color: #000000, $alpha: 0.9);
    color: white;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: white;
      }
    }
  }
  */

}


// Click dropdown, not needed otherwise
.show {
  display: block;
}

// Hover dropdown
// .dropdown:hover .dropdown-content {
//   display: block;
// }
