$bg-color: #2d2e39;
$bg-highlight-color: #383947;
$bg-border-color: #434556;

$primary-color: #414141;
$secondary-color: #414141;
$accent-color: #1e79b6; // 007bb7
$accent-color2: #0064ab; // 096599
$accent-color3: #3a8dbf;

$text-color: #fff;
$text-color-sec: #f1f1f4; // #f1f1f4
$text-color-alt: #b3dbe3; // #e2e3e9
$text-color-footer: #e2e3e9;
$text-color-link: #57a1c7;
$text-color-link-visited: #b3dbe3;
$text-color-link-hover: #3a8dbf;

$font-stack: Segoe UI;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$full-size: 100%;

$mobile: 800px;

// Colors
$blues: [#0064ab,#1e79b6,#3a8dbf,#57a1c7,#75b5d0,#94c8d9,#b3dbe3,#d4edf0,#f5ffff];
// $blues: [#0065a3,#2479ae,#418db8,#5ca0c2,#79b4cb,#96c7d6,#b4dae2,#d4edef,#f3ffff];
// $blues: [#0062a8,#1e77b3,#3a8bbd,#57a0c6,#74b3ce,#93c7d8,#b3dae2,#d4edef,#f5ffff];