.map-container {
  height: 100%;
  // flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

#map {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  font: 16px/20px Segoe UI, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend {
  font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #e2e3e9;
  /*   background-color: #2d2e39; */
  background: rgba(45, 46, 57, 0.9);
  border-radius: 6px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  right: 10px;
  /*   height: 25%; */
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px 0;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}
