// Sass partial file

@import "variables";

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

html,
body {
  // IE 10-11 didn't like using min-height
  height: $full-size;
}
body {
  display: flex;
  flex-direction: column;
  background: $bg-color;
  color: $text-color;
  font: 100% $font-stack;
  line-height: 1.5;
}

main {
  height: 100%; // add height:100% for full page content
}

#title {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  // letter-spacing: -0.01em;
  color: $text-color;
}

h1 {
  // text-align: center;
  // padding: 0 0 16px;
  font-size: 32px;
  color: $text-color;
}

h2 {
  font-size: 24px;
  color: $text-color;
}

h3 {
  font-size: 20px;
  color: $text-color;
}

.content {
  // display: none;
  padding: 0.5em 16px;
  height: 100%; // add height:100% for full page content
}

.content-container {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

ul {
  list-style: none;
	margin: 1em;
  text-align: left;
  color: $text-color;
}

.post a:link {
  color: $text-color-sec;
  background-color: transparent;
  text-decoration: none;
  outline: none;
}

.post a:visited {
  color: $text-color-alt;
  background-color: transparent;
}

.post a:hover {
  color: $text-color-link-hover;
  background-color: transparent;
}

// .post a:active {
//   color: yellow;
//   background-color: transparent;
// }


// Links
main a:link {
  color: $text-color-link;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  // font-style: oblique;
}

main a:visited {
  color: $text-color-link-visited;
  background-color: transparent;
}


.chart-container {
  margin: auto;
  width: 540px;
  // padding: 20px 0;
  // height: 80vh;
  // width: 90vw;
}

.piechart-container {
  margin: auto;
  width: 630px;
  padding: 20px 0;
  // height: 80vh;
  // width: 90vw;
}
