<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <!-- {% include content.html %} -->

  {% include navigation.html %}
  <div class="content-container">
    <main>
      {{ content }}
    </main>
  </div>
  {% include footer.html %}

  <!-- Sticky Header -->
  <!-- <div class="flex-column">
    {% include navigation.html %}
    <div class="flex-container">
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </div> -->

</body>
</html>